@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

//default_element
$rem_unit: 16px;

//sizes
$page_padding: 1.5rem;
$margin-top: 5rem;

// colors
$background: #ECEFF3;
$blue: #3D57E2;
$black: #32353C;
$line_gray: #DCE1E8;
$font_gray: #717A8C;
$caution: #F53C3C;
$input_background: #EFF2F4;

//lines
$gray_line: 1px solid $line_gray;

//effects
$card_shadow: 0px 4px 8px 0px rgba(161, 170, 179, 0.30);


//components > fonts
@mixin font_large($color: $black) {
    color: $color;
    font-family: 'Pretendard';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin font_default($color: $black) {
    color: $color;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.336%;
}

@mixin font_bold($color) {
    color: $color;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 170.336%;
}

@mixin font_small($color: $black) {
    color: $color;
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02188rem;
    line-height: 150%;
}

@mixin font_tiny($color) {
    color: $color;
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

//components >> buttons
@mixin btn_filled($color: $blue, $width: "hug") {
    display: inline-flex;
    height: 3.125rem;
    padding: 0.9375rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background-color: $blue;
    border: none;
    @include font_bold(#fff);
    transition: 0.3s;

    @if($width =="fill") {
        display: flex;
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        background-color: #576de9;
    }
}

@mixin btn_lined($color: $blue, $width: "hug") {
    display: inline-flex;
    height: 3.125rem;
    padding: 0.9375rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background-color: #fff;
    border: 1px solid $blue;
    @include font_default($blue);
    transition: 0.3s;

    @if($width =="fill") {
        display: flex;
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        background-color: #edeff8;
    }
}

html {
  font-size: $rem_unit;
}

*{
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
}


@mixin page(){
  overflow-x: hidden;
  width: 100vw;
  margin-top: $margin_top;
  margin-bottom: $margin-top;
  background-color: $background;
  padding: 0 $page_padding;
  background-color: green;
  
}

.App{
    @include page();
}


.page_home{
    background-color: gray;
}