@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

//default_element
$rem_unit: 16px;

//sizes
$page_padding: 1.5rem;
$margin-top: 5rem;

// colors
$background: #ECEFF3;
$blue: #3D57E2;
$skyblue: #EFF5F9;
$yellow: #FFE55E;
$black: #32353C;
$line_gray: #DCE1E8;
$font_gray: #DEDEDE;
$red: #F01111;
$caution: #F53C3C;
$input_background: #EFF2F4;

//lines
$gray_line: 1px solid $line_gray;

//effects
$card_shadow: 0px 4px 8px 0px rgba(161, 170, 179, 0.30);


//components > fonts




@mixin font_default($color: $black) {
  color: $color;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170.336%;
}

@mixin font_large($color: $black) {
  color: $color;
  font-family: 'Pretendard';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin font_huge($color: $black) {
  color: $color;
  font-family: 'Pretendard';
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin font_bold($color) {
  color: $color;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 170.336%;
}

@mixin font_small($color: $black) {
  color: $color;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02188rem;
  line-height: 150%;
}

@mixin font_tiny($color) {
  color: $color;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

//components >> buttons
@mixin btn_filled($color: $blue, $width: "hug") {
  display: inline-flex;
  height: 3.125rem;
  padding: 0.9375rem 1.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background-color: $color;
  border: none;
  @include font_bold(#fff);
  transition: 0.3s;

  @if ($width =="fill") {
    display: flex;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    // background-color: #576de9;
  }
}

@mixin btn_lined($color: $blue, $width: "hug") {
  display: inline-flex;
  height: 3.125rem;
  padding: 0.9375rem 1.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background-color: #fff;
  border: 1px solid $blue;
  @include font_default($blue);
  transition: 0.3s;

  @if ($width =="fill") {
    display: flex;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: #edeff8;
  }
}

@mixin padding-horizental() {
  padding: 0 $page_padding;
  box-sizing: border-box;
}

@mixin page() {
  height: 100vh;
  width: 100vw;
  margin-top: $margin_top;
  margin-bottom: $margin-top;
  background-color: $background;
  overflow: hidden;
}

.App {
  position: relative;
}

body{
  overflow: hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

html {
  font-size: $rem_unit;
}


* {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
}


.page_home {
  padding-top: 0;
  position: relative;
  .nav_container {
    .snow-container{
      display: flex;
      justify-content: space-between;
    }
    .snow-flake {
      font-size: 10rem;
      color: #EFF2F4;   
      animation: fall 3.5s linear infinite;
    }
    @keyframes fall {
      0% {
        opacity: 0;
      }
      3% {
        opacity: 0.9;
      }
      90% {
        opacity: 0.9;
      }
      100% {
        transform: translate(0, 0.1rem);
        transform: translateY(20rem);
        opacity: 0;
      }
    }
    .hide{
      display: none;
    }
  }

  .hide{
    display: none;
  }

  .black_cover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
  }

  .sect_QR {
    .video_container {
      svg {
        // display: none;
        opacity: 0;
      }

      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: -2;
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 10rem;
      margin-top: -3rem;
      video{
        margin: 0;
        height: 0;
        border: 10px soild red;
      }
    }

    .QR_foreground {
      position: fixed;
      top: 0;
      z-index: -1;
      // margin-top: -5rem;
    }

    .texts_container {
      color: white;
      z-index: 1;
      margin: auto;
      margin-top: 4.7rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .title {
        @include font_huge(white);
      }

      .dscript {
        @include font_small($font_gray);
      }
    }
  }

  .sect_agree {
    $sect_size: 13rem;
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
    $controller_size: 3rem;
    width: 100vw;
    z-index: 100;

    .sect_controller {
      height: $controller_size;
      display: flex;
      justify-content: center;
      align-items: center;
      .controller_line{
        width: 4rem;
        height: 0.4rem;
        background-color: #ACACAC;
        border-radius: 10rem;
      }
    }

    .sect_content {
      text-align: center;
      background-color: white;
      border-radius: 1.125rem 1.125rem 0 0;
      height: calc($sect_size - $controller_size);
      padding: 1.75rem 1.5rem;
      .tag_container{
        display: flex;
        justify-content: center;
      }
      .disrpt{
        @include font_small($black);
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }
  .comp_btn{
    position: fixed;
    height: 5rem;
    padding: 0.5rem $page_padding 0 $page_padding;
    box-sizing: border-box;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100vw;
  
    button {
      position: relative;
      @include btn_filled($font_gray, "fill");
  
      &.pressed {
        @include btn_filled($yellow);
        @include font_bold($black);
      }
    }
  
    .btn_txt {
      @include font_bold(#949BA4);
    }
  }
}

/*
Caution Page
*/
.page_caution {
  text-align: center;
  height: 100vh;
  overflow-y: scroll;

  
  .body_container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
    padding: 0 $page_padding 0 $page_padding;
    box-sizing: border-box;
    // overflow-y: scroll;
    height: 50rem;
    // height: fit-content;

    .comp_tag {  
      margin: auto;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }

    .check_option {
      display: flex;
      flex-shrink: 1;
      flex-grow: 0;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.8rem;
      height: fit-content;
      top: 0;
      margin-top: 0;
      

  
      .check_list_container {
        display: flex;
        position: relative;
        width: 100%;
        flex-shrink: 1;
        flex-grow: 1;
        padding: 1rem;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

  
        border-radius: 0.3125rem;
        background: #F4F4F4;

        flex-grow: 0;
  
        .top {
          display: flex;
          align-items: center;
          gap: 1rem;
          
          .helmet_img {
            width: 1.75rem;
            height: 1.75rem;
          }
          .title {
            @include font_large($black);
          }
        }
  
        .bottom {
          @include font_default(#737C86);
          text-align: left;
        }
      }
    }

    .btn_box {
      display: flex;
      flex-grow: 0;
      justify-content: flex-end;
      align-items: center;
      column-gap: 1rem;
       .toggle-button {
        cursor: pointer;
       }
    }
  }
  .comp_btn{
    position: fixed;
    height: 5rem;
    padding: 0.5rem $page_padding 0 $page_padding;
    box-sizing: border-box;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100vw;
  
    button {
      position: relative;
      @include btn_filled($font_gray, "fill");
  
      &.pressed {
        @include btn_filled($yellow);
        @include font_bold($black);
      }
    }
  
    .btn_txt {
      @include font_bold(#949BA4);
    }
  }
}


//riding 페이지에 대한 style을 여기에 추가해 주세요
.page_riding{
  text-align: center;
  padding: 0 $page_padding 0 $page_padding;


  .mid_nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include font_huge($black);
      margin-top: 6.12rem;
    }

    .timer_container {
      margin-top: 2.5rem;
      width: 20.4375rem;
      height: 7.3125rem;
      flex-shrink: 0;

      border-radius: 0.3125rem;
      background: #F4F4F4;
      width: 100%;
      
      .timer_title {
        margin-top: 1.31rem;
        @include font_default(#737C86);
      }
      

      .timer {
        margin-top: 0.62rem;
        @include font_huge($black);
      }
    }
    }

    .mid_dscrpt {
      margin-top: 3rem;
      margin-bottom: 15.31rem;
      @include font_default($black);
    }

  .comp_btn{
    position: fixed;
    height: 5rem;
    padding: 0.5rem $page_padding 0 $page_padding;
    box-sizing: border-box;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100vw;
  
    button {
      position: relative;
      @include btn_filled($font_gray, "fill");
  
      &.pressed {
        @include btn_filled($red);
        @include font_bold(#EFF5F9);
      }
    }
  
    .btn_txt {
      @include font_bold(#949BA4);
    }
  }
}


.comp_nav{
  position: fixed;
  width: 100vw;
  height: 3rem;
  background-color: white;
  @include font_bold($black);
  line-height: 3rem;
  top: 0;
  left: 0;
  z-index: 1000;

  .icon_container{
    position: absolute;
    right: 1rem;
    top: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .logo_title {
      margin-left: 0.5rem;
    }
  }
}
.modal_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;

  .modal_box {
    height: 27rem;
    overflow-y: scroll;
    margin: auto;
    margin-top: 9.62rem;
    width: 20.4375rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: white;
    
    .title {
      margin-top: 1.87rem;
      @include font_bold($black);
    }
    .sub_title {
      margin-top: 0.19rem;
      @include font_default($black);
    }
    .image_box {
      margin-top: 1.56rem;
      width: 7.75rem;
      height: 8.375rem;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .celebrity_Name {
      margin-top: 1.56rem;
      @include font_large($black);
    }
    .popular {
      margin-top: 0.38rem;
      @include font_default(#F9512D);
    }
    .descrpt {
      margin-top: 0.94rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      @include font_default($black);
    }
    .exit_btn {
      @include btn_filled($yellow, $yellow);
      width: 18.5rem;
      height: 2.9375rem;
      padding: 0.625rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      flex-shrink: 0;
      margin-top: 1rem;
      margin-bottom: 1.88rem;
    }
  }

}
// .snow-container{
//   display: flex;
//   justify-content: space-between;
// }
// .snow-flake {
//   font-size: 20px;
//   color: #EFF2F4;
//   animation: fall 3.5s linear infinite;
// }
// @keyframes fall {
//   0% {
//     opacity: 0;
//   }
//   3% {
//     opacity: 0.9;
//   }
//   90% {
//     opacity: 0.9;
//   }
//   100% {
//     transform: translate(0, 1rem);
//     opacity: 0;
//   }
// }